@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
  --navbar-height: 7rem;
}

body {
  --fg: #000000;
  --fg2: #232323;

  --bg: #ffffff;
  --bg2: #e0e0e0;
  --bg3: #bfbfbf;

  --highlight: #008cff;

  color: var(--fg);
  background-color: var(--bg);
}

/* remove top space,  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Syne", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

ul {
  list-style-type: none;
}
